#
# The server creates one single object adapter with the name
# "Hello". The following line sets the endpoints for this
# adapter.
#
Reader.Endpoints=tcp -h 10.147.19.112 -p 10100 # Server
Subject.Endpoints=tcp -h 10.147.19.112 -p 10101 # Server
CallbackManager.Endpoints=tcp -h 10.147.19.112 -p 10102 # Server
# Sorter.Endpoints=tcp -h 10.147.19.112 -p 10103 # Server

# Sorter.Endpoints=tcp -p 90982
# Callback.Server.Endpoints=tcp -h localhost -p 9098
#
# Only listen on the ZeroTier's LIASOn1 interface by default.
#
# Ice.ThreadPool.Server.Size=10
Ice.Default.Host=10.147.19.112 # Server


#
# The IceGrid locator proxy.
#

Ice.Default.Locator=DemoIceGrid/Locator:default -h localhost -p 4061

#
# To use the IceGrid discovery plugin comment out the default locator
# property above and un-comment the two properties below. The discovery
# plugin uses multicast to discover IceGrid.
#
#Ice.Plugin.IceLocatorDiscovery=IceLocatorDiscovery:com.zeroc.IceLocatorDiscovery.PluginFactory
#IceLocatorDiscovery.InstanceName=DemoIceGrid